version: '3.8'
services:
  load-balancer:
    image: nginx:alpine
    container_name: load-balancer
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"
    networks:
      - lb-network
      # Map hostname → IP thật của 2 máy kia
      # extra_hosts:
      #   - "machine1:192.168.1.20"  
      #   - "machine2:192.168.1.21" 
networks:
  lb-network:
    driver: bridge
